<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth2.0授权</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layui.css') }}">
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    {% endblock %}
    <script src="{{ url_for('static',filename='js/layui.js') }}"></script>
    {% block javascript %}
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    {% endblock %}
</head>
<body>
      {% block content %}
          <h1></h1>
      {% endblock %}
</body>
</html>