{% extends 'base.html' %}

{% block content%}
   <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
          <div class="layui-logo">Oath2.0信息管理</div>
          <!-- 头部区域（可配合layui已有的水平导航） -->
          <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
              <a href="javascript:;">
                <img src="{{ url_for('static',filename='images/pic.jpg')}}" class="layui-nav-img">
                {{ current_user.nickname }}
              </a>
              <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item"><a href="{{ url_for('main.logout')}}">退出</a></li>
          </ul>
        </div>
        <div class="layui-side layui-bg-black">
          <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
              <!-- <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">所有订阅</a>
                <dl class="layui-nav-child">
                  <dd><a href="{{ url_for('main.index') }}">CVES</a></dd>
                  <dd><a href="javascript:;">安全客</a></dd>
                </dl>
              </li> -->
              <!-- <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                  <dd><a href="javascript:;">列表一</a></dd>
                  <dd><a href="javascript:;">列表二</a></dd>
                  <dd><a href="">超链接</a></dd>
                </dl>
              </li> -->
              <li class="layui-nav-item"><a href="">内容管理</a></li>
              <li class="layui-nav-item"><a href="">订阅管理</a></li>
            </ul>
          </div>
        </div>
        
        <div class="layui-body">
          <!-- 内容主体区域 -->
          {% block mainContent %}
          <div style="padding: 15px;">内容主体区域</div>
          {% endblock %}
        </div>

        <div class="layui-footer">
          <!-- 底部固定区域 -->
          © Mon - 内容订阅
        </div>
      </div>

{% endblock %}