<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign manage</title>
</head>
<body>
    <h3>输入用户名密码即可登录</h3>
    <form action="/login" method="POST">
        用户名 : <input type="text" name="username" /><br>
        密码 : <input type="password" name="password" /><br>
        <input type="submit" value="登录" />
    </form>
</body>
</html>