.content{
  margin: 50px auto;
  width: 80%;    
}
.hero-unit{
    padding: 30px;
}
.form-content{
  margin: 150px auto;
  width: 50%;
}

.pic{
  width: 100px;
  height: 100px;
}

.text{
   width: 100%;
   margin: auto; 
   display: block;
}

.upload{
  margin:80px auto;
}
.error{ 
   margin: 40px auto;
}
input{
  width: 100%;
}

#auth{
  float:right;
}